
.Contact {
  background-color: var(--color-dark);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* overflow: hidden; */
}

.success-modal {
  box-shadow: var(--shadow);
  width: auto;
  padding: .5em 1.5em;
  height: auto;
  position: sticky;
  bottom: 1em;
  border-radius: 10px;
  background-color: rgb(225, 225, 225);

  opacity: 0;
  animation: enter 350ms forwards ease;
}

.success-modal p {
  color: var(--color-black);
  font-family: var(--font-prim);
  font-size: 1.4rem;
  font-weight: 700;
}

.error-modal {
  box-shadow: var(--shadow);
  width: auto;
  padding: .5em 1.5em;
  height: auto;
  position: sticky;
  bottom: 1em;
  border-radius: 10px;
  opacity: 0;
  animation: enter 350ms forwards ease;

  background-color: rgb(127, 22, 22);
  color: var(--color-white);
}

.error-modal p {
  color: var(--color-white);
  font-family: var(--font-prim);
  font-size: 1.4rem;
  font-weight: 700;
}


.exit-modal {
  animation: exit 350ms forwards;
}

@keyframes enter {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  80% {
    transform: translateY(-3vh);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes exit {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


.ContactForm {
  height: auto;
  width: 100%;
  padding-block: 2em;
  padding-inline: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.ContactForm h1 {
  color: var(--color-white);
  margin-bottom: .5em;
  font-size: 3rem;
  font-family: var(--font-prim);
  position: relative;
  line-height: 1.1;
}


.ContactForm h1::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 1.5em;
  width: 17rem;
  height: 4px;
  background-color: var(--color-white);
}

.ContactForm form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 40rem;
  max-width: 100%;
  text-align: start;
}

.ContactForm form label {
  color: var(--color-white);
  font-family: var(--font-prim);
  font-size: 1.5rem;
  margin-bottom: .2em;
  position: relative;
}



.ContactForm form div{
  width: 100%;
  position: relative;
}

.ContactForm form div::after {
  content: '';
  position: absolute;
  background: var(--gradient);
  left: 0;
  bottom: 15px;
  height: 4px;
  width: 100%;
  transform: scaleX(0);
  transition: transform 250ms ease-in;
  transition-delay: 200ms;
} 

.ContactForm form div:focus-within::after{
  transform: scaleX(1);
}


.ContactForm form input {
  width: 100%;
  margin-bottom: 1em;
  padding: .8em;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  transition: all 350ms;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.ContactForm form input::placeholder{
  font-family: var(--font-sec);
  color: var(--color-grey);
  font-weight: 300;
  font-size: 1.1rem;
}

.ContactForm form button {
  margin-top: 1em;
  padding: 1rem 2.5rem;
  cursor: pointer;
  border: none;
  align-self: center;
  border-radius: 100vh;
  font-size: 1.2rem;
  background-color: transparent;
  font-family: var(--font-prim);
  box-shadow: var(--shadow);
  color: var(--color-white);
  border: 2px solid var(--color-white);
  transition: all 350ms;
}

.ContactForm form button:hover {
  background-color: var(--color-green);
}

.ContactForm form button:disabled {
  cursor: not-allowed;
  opacity: .3;
}

@media only screen and (max-width: 520px) {
  .ContactForm h1 {
    font-size: 2.5rem;
  }
  .ContactForm form label {
    font-size: 1.3rem;
  }

  .ContactForm form button {
    font-size: 1rem;
  }

  .ContactForm form input::placeholder{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 748px) {

  .ContactForm h1::before {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .ContactForm h1 {
    font-size: 2.2rem;
  }

  .ContactForm h1::before {
    display: none;
  }

  .ContactForm form label {
    font-size: 1.2rem;
  }
}