@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap'); /* https://fonts.google.com/specimen/Rubik?query=rubik */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300&display=swap'); /* https://fonts.google.com/specimen/Nunito?query=nunito */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap');

/* 
font-family: 'Be Vietnam Pro', sans-serif;
*/

:root {
  --color-dark: rgb(7, 7, 7);
  --color-white: #FBF7F5;
  --color-green: rgb(17, 17, 17);
  --color-green-light:  rgb(17, 17, 17);
  --color-green-med: rgb(17, 39, 45);
  --color-green-dark: rgb(17, 17,17);
  --color-grey:  rgb(174, 174, 174);
  /* --gradient: linear-gradient(45deg, #3ea277, rgb(112, 182, 235)); */
   --color-dark-offset: rgb(17, 17, 17);


  /* --font-prim: 'Rubik', sans-serif; */
  --font-prim: 'Be Vietnam Pro', sans-serif;
  --font-sec:  'Be Vietnam Pro', sans-serif;;

  --shadow: 4px 5px 0 black, 5px 6px 0 rgba(255, 255, 255, 0.34)
}

/* Animations for entrances with intersection observer hook */

/*  text-shadow: -1px 1px 0 #41ba45,
	1px 1px 0 #c63d2b,
	1px -1px 0 #42afac,
	-1px -1px 0 #c6c23f; */

/*    Fade and swoop from left */
.push-left {
  transform: translateX(-10rem);
  opacity: 0;
}

.swing-right{
  animation: swing-right 500ms ease-in forwards;
}

@keyframes swing-right {
  from{
    transform: translateX(-10rem);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}


/* Fade and swoop from right */
.push-right {
  transform: translateX(10rem);
  opacity: 0;
}

.swing-left{
  animation: swing-left 500ms ease-in forwards;
}

@keyframes swing-left {
  from{
    transform: translateX(10rem);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
} 

/* fade in */

.clear {
  opacity: 0;
}

.fade-in {
  animation: fade-in 500ms ease-in forwards;
}

@keyframes fade-in {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
} 