  .IncMonthlySales {
    background-color: var(--color-dark);
    height: 100vh;
  }

  .IncMonthlySales-title{
    padding-top: 2em;
    padding-left:  10vw;
    padding-right: 30vw;
  }

  .IncMonthlySales-title h1 {
    color: var(--color-white);
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--font-prim);
    margin-left: 2em;
    line-height: 1.2;
  }

  /* .IncMonthlySales-title h1 span {
    color: rgb(53, 172, 158);
  } */

  .IncMonthlySales-container {
    display: flex;
    align-items: center;
    gap: .4em;
    padding: 0 10vw;
    overflow-y: scroll;
  }


  .IncMonthlySales-container h2{
    color: var(--color-white);
    font-weight: 300;
    font-family: var(--font-sec);
    margin-left: 5em;
    margin-top: 2em;
  }

  #bullets {
    display: block;
    font-size: 1.2rem;
    margin-top: 1.5em;
    margin-left: 1em;
  }

  #bullets::before {
    content: '•';
    color: var(--color-white);
    margin-right: .5em;
  }


  .IncMonthlySales-container div {
    height: 30rem; width: 20rem;
    flex-shrink: 0;
    
  }

  .IncMonthlySales-container div:nth-child(2){
    margin-top: 10em;
  }

  .IncMonthlySales-container div img {
    height: 100%;
    object-fit: cover;
  }

  .IncMonthlySales-details {
    color: var(--color-white);
    padding-right: 30vw;
    padding-left:  10vw;
  }

  .IncMonthlySales-details p {
    font-family: var(--font-sec);
    font-size: 1.2rem;
    color: rgb(164, 164, 164);
  }


  /* Media Queries large - small */

  @media only screen and (max-width: 1422px) {
    .IncMonthlySales-container div {
      height: 25rem; 
      width: 15rem;
    }
  }


  @media only screen and (max-width: 1210px) {
    .IncMonthlySales-container {
      margin-bottom: 2em;
    }

    .IncMonthlySales-title h1{
      font-size: 2.5em;
    }

    .IncMonthlySales-container div {
      height: 18rem; 
      width: 10rem;
      margin-top: 2em;
    }

    .IncMonthlySales-title{
      padding-left: 0;
      padding-right: 0;
    }

    .IncMonthlySales {
      height: auto;
    }
  }


  @media only screen and (max-width: 1135px) {
    .IncMonthlySales-container { 
      padding-block: 2em;
    }

    .IncMonthlySales-container div:nth-child(2){
      display: none;
    }

    .IncMonthlySales-container div:first-child{
      height: 20rem;
      width: 14rem;
    }

    .IncMonthlySales-container h2{
      margin-left: 1em;
    }

    .IncMonthlySales-title h1 {
      margin-left: 1em;
    }
  }


  @media only screen and (max-width: 825px) {
    .IncMonthlySales-container div:first-child{
      display: none;
    }

    .IncMonthlySales-container h2{
      margin: 1em;
    }

    .IncMonthlySales-title{
      text-align: center;
    }

    .IncMonthlySales-title h1 {
      margin-left: 0;
      margin-inline: .5em;
    }

    .IncMonthlySales-container{
      text-align: center;
    }

    #bullets {
      text-align: start;
    }

    #bullets:first-child {
      margin-top: 3.5em;
    }

    #bullets {
      margin-top: 2.2em;
      font-size: 1rem;
    }
  }