
  .Landing {
    margin-top: -5.5rem;
    height: auto;
    overflow: hidden;
  }

   .Landing::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
   .Landing::-webkit-scrollbar-track {
    background: transparent        /* color of the tracking area */
  }
  
   .Landing::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.12);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 6px solid rgb(7, 7, 7)  /* creates padding around scroll thumb */
  }
  


  .LandingVideo {
    display: grid;
    place-items: center;
    padding-inline: 2em;
  }

  .LandingVideo-content h2 {
    color: var(--color-white);
    font-family: var(--font-prim);
    font-size: 3.5rem;
    line-height: 1.1;
    position: relative;
  }

  .LandingVideo-content h2::before{
    content: '';
    position: absolute;
    bottom: -4px;
    left: -1em;
    width: 18rem;
    background-color: var(--color-white);
    height: 4px;
  }

  .LandingVideo-content p {
    color: var(--color-grey);
    font-family: var(--font-sec);
    font-size: 1.3rem;
    margin-top: .3em;
    margin-left: 8em;
  }

  @media only screen and (max-width: 600px) {
    .LandingVideo-content p{
      margin-left: 6em;
    }
  }

  @media only screen and (max-width: 560px) {
    .LandingVideo-content p{
      margin-left: 4em;
    }
  }

  @media only screen and (max-width: 518px) {
    .LandingVideo-content p{
      margin-left: 2em;
    }
  }

  @media only screen and (max-width: 474px) {
    .LandingVideo-content{
      text-align: center;
    }

    .LandingVideo-content p{
      margin-left: 0;
    }
  }

  @media only screen and (max-width: 460px) {
    .LandingVideo-content h2{
      font-size: 3.2rem;
    }
  }

  @media only screen and (max-width: 422px) {
    .LandingVideo-content h2{
      font-size: 3rem;
    }

    .LandingVideo-content h2::before{ 
      width: 14rem;
    }
  }

  @media only screen and (max-width: 400px) {
    .LandingVideo-content h2{
      font-size: 2.7rem;
    }
  }


  .tolstoy {
    width: 50rem;
    height: 30rem;
    max-width: 100%;
    border-radius: 25px;
    box-shadow: var(--shadow);   
  }

  .Main{    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .Main-bg-img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .Main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 28vw;  
    background-color: rgba(0, 0, 0, 0.701);
  }

  .Main-content h1 {
    font-family: var(--font-prim);
    color: var(--color-white);
    font-size: 4.3rem;
    font-weight: 700;
    margin-bottom: .3em;
    line-height: 1;
  }

  /*.Main-content h1 span {

    background-color: var(--gradient);
    -webkit-text-stroke: 1px #f8f8f896;
      text-shadow: 0px 1px 1px var(--gradient);

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  } */

  .Main-content h2 {
    font-size: 1.7rem;
    font-family: var(--font-sec);
    line-height: 1.2;
    font-weight: 300;
    color: var(--color-white);
  }


	.Main-content button {
		margin-top: 1em;
    font-family: var(--font-prim);
		font-size: 1.1rem;
		padding: 1rem 2rem;
    font-weight: 500;
    border-radius: 100vh;
		cursor: pointer;
    border-color: transparent;
    background-color: transparent;
    border: 2px solid var(--color-white);
    color: var(--color-white);
		transition: all ease 300ms;
		position: relative;
    box-shadow: var(--shadow);   
	}

	.Main-content button:hover {
		padding-right: 2.5em;
	}

	.Main-content button::after{
		content: ' ›';
		position: absolute;
		font-size: 1.5rem;
		right: 20px;
		transform: translateY(-3px);
		opacity: 0;
	} 

	.Main-content button:hover::after{
		animation: opacity 350ms ease forwards 300ms;
	}

  @keyframes opacity {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  .LandingVideo {
    background-color: var(--color-dark);
    height: 100vh;
  }

  @media only screen and (max-width: 997px) {
    .Main-content {
      padding-inline: 10em;
    }
  }
  
  @media only screen and (max-width: 997px) {
    .Main-content {
      padding-inline: 10em;
    }

  }

  @media only screen and (max-width:750px) {
    .Main-content {
      padding-inline: 10em;
    }

    .Main-content button {
      margin-top: 2em;
    }
  }

  @media only screen and (max-width: 750px) {
    .Main-content {
      padding-inline: 4vw;
      text-align: center;
    }
  }

  @media only screen and (max-width: 600px) {
    .Main-content h5 {
      font-size: 1.4rem;
    }
  }

  @media only screen and (max-width: 458px) {
    .Main-content h1{
      font-size: 3.8rem;
    }
  }

  @media only screen and (max-width: 420px) {
    .Main-content h1{
      font-size: 3.5rem;
    }

    .Main-content h5 {
      font-size: 1.3rem;
    }

    .Main-content button {
      font-size: 1rem;
    }
  }