.Cta {
  height: 100vh;
  background-color: var(--color-dark);
  position: relative;
  text-align: center;
}

.cta-bg  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.Cta div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  text-align: center;
}

.Cta div h1 {
  font-family: var(--font-prim);
  font-size: 3.3rem;
  color: var(--color-white);
  max-width: 20ch;
  line-height: 1.1;
  position: relative;
  margin: 0 1em;
}

.Cta div h1::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 43%;
  width: 6rem;
  height: 4px;
  background-color: var(--color-white);
}


.Cta div p {
  font-family: var(--font-sec);
  font-size: 1.7rem;
  color: var(--color-grey);
  margin-top: 3em;
  font-weight: 300;
  /* font-style: italic; */
}

.Cta button {
  margin-top: 3em;
  color: var(--color-white);
  font-family: var(--font-prim);
  font-size: 1.2rem;
  padding: 1.2rem 3rem;
  border-radius: 100vh;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border: 2px solid var(--color-white);
  box-shadow: var(--shadow);
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  position: relative;
  overflow: hidden;
}

.Cta button::after {
  content: '';
  background-color: var(--color-green);
  border-radius: 100vh;

  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: .2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.Cta button:hover {
  transform: translateY(-3px);
}

.Cta button:hover::after {
  transform: translate(0, 0);
}

@media only screen and (max-width: 750px) {
  .Cta div h1 {
    font-size: 2.5rem;
  }  
  .Cta button {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .Cta div p {
    font-size: 1.4rem;
  }  
  .Cta button {
    font-size: .9rem;
  }
}

@media only screen and (max-width: 460px) {
  .Cta div h1 {
    font-size: 2.1rem;
  } 
}

@media only screen and (max-width: 395px) {
  .Cta div h1 {
    font-size: 1.9rem;
  } 
}