
  .Nav {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding-right: 2em;
    position: sticky;
    top: 0;
    width: 100%;
    transition: all 350ms;
    z-index: 1;
  }

  .nav-top-panel {
    padding-top: 2em;
    padding-right: 2em;
    color: var(--color-white);
    font-family: var(--font-prim);
    font-weight: 400;
    font-size: 1rem;
  }

  @media only screen and (max-width: 1000px) {
    .nav-top-panel {
      padding-right: 0;
    }
  }

  .nav-top-panel a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-top-panel a p {
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: border-bottom 250ms;
  }

  #underline {
    border-bottom: 1px solid var(--color-white);
  }

  .nav-top-panel a p:hover {
    border-bottom: 1px solid var(--color-white);
  }

  .nav-top-panel a p:last-child {
    background-color: var(--color-blue);
    height: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-left: 1em;
  }

  .nav-bottom-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -.5em;
    position: relative;
  }

  .not-checked {
    opacity: 0;
  }

  .logo {
    width: 9rem;
    height: auto;
    cursor: pointer;
    transition: all 450ms;
  }

  .logo-scroll {
    width: 8rem;
    opacity: .15;
  }

  .nav-item {
    font-family: var(--font-prim);
    display: inline;
    margin: 0 2em;
    color: var(--color-white);
    font-size: 1.1rem;
    cursor: pointer;
    position: relative;
    transition: all 250ms;
    font-weight: 500;
  }

  .nav-item::after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: var(--color-white);
    transform: scale(0);
    transition: transform 350ms ease;
  }

  .nav-item:hover::after {
    transform: scale(1);
  }

  .active {
    color: var(--color-white);
  }

  .active::before {
    content: '';
    height: 3px;
    width: 2px;
    background-color: var(--color-white);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -9px;
    animation: expand 350ms ease forwards;
  }

  @keyframes expand {
    from{
      height: 3px;
    }
    to{
      height: 110%;
    }
  }

  .navList {
    opacity: 1;
    transition: all 350ms;
  }


  .hide {
    opacity: 0;
    pointer-events: none;
  }

  .shrink {
    transform: scale(.6);
    opacity: .15;
  }

