.Partners {
  height: 100vh;
  background-color: var(--color-dark);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Partners-titles {
  display: flex;
  flex-direction: row-reverse;
  height: 50%;
}

.Partners-titles div {
   padding-top: 2em;
}

.Partners-titles div:first-child{
  display: flex;
  justify-content: flex-end;
  padding: 2em;
  width: 40%;
}

.Partners-titles div:last-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  padding-left: 7em;
  width: 60%;
}

.Partners-titles div h1{
  font-family: var(--font-prim);
  font-size: 3rem;
  /* color: rgb(216,206,71); */
}

.Partners-titles div h3{
  font-family: var(--font-prim);
  font-weight: 300;
  font-size: 1.3rem;
  color: var(--color-grey);
}

.Partners-main-img {
  object-fit: cover;
  width: 25rem;
  height: 30rem;
}


/* .icons::before {
  content: "";

  position: absolute;
  top: -13em;
  left: 0;
  height: 4px;
  width: 24%;
  background-color: var(--color-white);
} */


.icons img {
  height: 3.8rem;
  width: auto;
  object-fit:cover;
  filter: brightness(0) saturate(100%) invert(100%) sepia(39%) saturate(2237%) hue-rotate(169deg) brightness(124%) contrast(111%);
}

.icons svg {
  height: 3.8rem;
  width: auto;
}

.partners-text{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4em;

}

.Partners p {
  font-family: var(--font-sec);
  font-size: 1.3rem;
}

.Partners div:nth-child(2) > *:nth-child(2){
  /* border: 2px solid red; */
  margin: 1em 0;
}



.carousel {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 70%;
  -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.icons {
   display: flex;
  justify-content: space-evenly; 
  align-items: center;
  /* gap: 3em; */
  position: relative;
  padding-top: 4em;
  padding-bottom: 5em;
  /* padding-left: 2em; */
  /* width: 70%; */

  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.meet-partners {
  margin-top: 2em;
  transition: all ease 350ms;
  width: max-content;
  position: relative;
}

.meet-partners::before {
  content: "";

  position: absolute;
  top: 6rem;
  left: -7rem;
  height: 4px;
  width: 150%;
  background-color: var(--color-white);
}


@media only screen and (max-width: 1005px) {
  .Partners {
    height: auto;
  }
}

@media only screen and (max-width: 900px) {
  .icons svg,   
  .icons img {
    height: 3rem;
  }

  .icons {
    padding-bottom: 0;
  }

}


@media only screen and (max-width: 890px) {
  .Partners-main-img{
    width: 20rem;
    height: 25rem;
  }
}

@media only screen and (max-width: 800px) {
  .Partners-main-img{
    width: 15rem;
    height: 20rem;
    margin-top: auto;
  }

  .Partners-titles div h3 {
    font-size: 1.2rem;
  }

  .carousel {
    width: 100%;
  }

}


@media only screen and (max-width: 720px) {
  .Partners-titles div h1{
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .Partners-titles div:first-child{
    display: none;
  }

  .Partners-titles div:last-child{
    width: 100%;
    padding-inline: 2em;
  }

  .icons svg,
  .icons img {
    height: 2.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .icons svg,
  .icons img {
    height: 2rem;
  }
}